version: "3.8"

services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile.dev
    container_name: fooddrone_web
    working_dir: /app
    volumes:
      - ./web:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - HOST=0.0.0.0
    command: npm run dev
