services:
  web:
    build:
      context: .
      dockerfile: web/Dockerfile.dev
    volumes:
      - ./web:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true

  expo:
    build:
      context: .
      dockerfile: mobile/Dockerfile
    volumes:
      - ./mobile:/app
      - /app/node_modules
    ports:
      - "8081:8081"
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
    environment:
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
      - EXPO_NO_NATIVE_DEVTOOLS=1
