
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fooddrone_backend
    working_dir: /app
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=${MONGO_URI}
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: node server.js
    networks:
      - projectnet
    dns:
      - 8.8.8.8
      - 1.1.1.1

  web:
    build:
      context: ./web
      dockerfile: Dockerfile.dev
    container_name: fooddrone_web
    working_dir: /app
    volumes:
      - ./web:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - HOST=0.0.0.0
      - VITE_API_URL=https://project-fs-g8y5.onrender.com
    command: npm run dev
    depends_on:
      - backend
    networks:
      - projectnet

networks:
  projectnet:
    driver: bridge